<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Validation</servlet-name>
		<display-name>Validation</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.Validation</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Edit</servlet-name>
		<display-name>Edit</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.Edit</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddStudent</servlet-name>
		<display-name>AddStudent</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.AddStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<display-name>Delete</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.Delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteExam</servlet-name>
		<display-name>DeleteExam</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.DeleteExam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMark</servlet-name>
		<display-name>DeleteMark</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.DeleteMark</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditExam</servlet-name>
		<display-name>EditExam</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.EditExam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddExam</servlet-name>
		<display-name>AddExam</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.AddExam</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMark</servlet-name>
		<display-name>AddMark</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.AddMark</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditMark</servlet-name>
		<display-name>EditMark</display-name>
		<description></description>
		<servlet-class>com.dxc.servlet.EditMark</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Validation</servlet-name>
		<url-pattern>/validation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddStudent</servlet-name>
		<url-pattern>/addstudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteExam</servlet-name>
		<url-pattern>/deleteExam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMark</servlet-name>
		<url-pattern>/deleteMark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditExam</servlet-name>
		<url-pattern>/editExam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddExam</servlet-name>
		<url-pattern>/addExam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMark</servlet-name>
		<url-pattern>/addMark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditMark</servlet-name>
		<url-pattern>/editMark</url-pattern>
	</servlet-mapping>
</web-app>